.header_container {
  height: 80px;
  background: #bfecff;
}

.inner_container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_container ul {
  /* is the width ok? */
  width: 300px; 
  display: flex;
  justify-content: space-around;
}

.inner_container li {
  list-style: none;
}

.inner_container a {
  color: 000;
  text-decoration: none; 
  padding: 7px 20px; 
  border-radius: 6px;
  transition: .8s;  
}

.inner_container a:hover {
  background: #95cc1e;
  cursor: pointer
}
