


.calender_inner_container {
  width: 100% !important;
  margin-top: 30px;
  border: none;  
}

.calender_inner_container span {
  border: none;
  font-size: 2rem;
}

.left_arrow {
  background-color: purple;
  transform: rotate(45deg) !important;
}

.react-calendar__navigation__arrow .react-calendar__navigation__next-button {
  background: green !important;
}

.tile {
  height: 20vh;
}

.tile:active {
  color: #fff !important;
}



