.container {
    width: 10% !important;
    height: 100px !important; 
}

.inner_container {
    max-width: 960px;
    margin: 30px auto; 
}

.inner_container h1 {
    text-align: center;
    margin-bottom: 45px; 
}

.inner_container ul {
    list-style: none;
}

.inner_container li {
    margin-bottom: 45px;
}

.inner_container li a {
    text-decoration: none;
    margin-bottom: 25px; 
    background-color: #bfecff;
    padding: 10px 25px;
    border-radius: 10px; 
    transition: 1s;
}

.inner_container li a:hover {
    cursor: pointer;
    background-color:#afc9e2 
}

.inner_container li p {
    text-decoration: none;
    margin-top: 25px; 
}